<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class = 'title_pricipal'>
        <nav>
            <h1>API LIBRARY</h1>
        </nav>
    </section>
    <section class = 'desription'>
        <div class = 'description-title'>
            <h3 class='description-title_title'>
                WELCOME TO THIS AMAZING PROJECT
            </h3>
        </div>
        <div class='description-content'>
        <h4>
                This is a simple backend project, dedicated to admin services
                library
        </h4>

            <img class='description-image' src="https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image library number one"/>
        </div>
    </section>
    <section class='Information'>
        <div class= 'Information-api'>
            <p>
                Okay... here you can find a simple API Rest. this is created with four controllers.
            </p>
        </div>
    </section>
    <footer>
        <div>
            <p>
                powered by Flask
            </p>
        </div>
    </footer>
</body>
</html>